@import './utils/mixins';
@import './utils/vars';

.button {
  content: '';
  cursor: pointer;
  @include size(40px, 40px);
  border: none;
  background: $buttonColor;
  border-radius: 20px;
  transition: 0.1s ease-in-out;

  &:hover {
    background-color: $mainColorElem;
  }

  &:active {
    background-color: $mainColorElemHover;
  }

  &--position {
    position: absolute;
    top: 15px;
    right: 15px;
  }
}

.burger,
.call,
.chat,
.profile,
.search,
.close,
.repair,
.checklist {
  @include backgroundRepeatPosition(no-repeat, center);
}

.divider {
  display: inline-block;
  content: ' ';
  @include size(2px, 32px);
  background-color: #a9a9a987;
  border-radius: 1px;
}
