.feedback {
  width: 340px;
  height: 100vh;
  position: fixed;
  z-index: 2;
  top: 0px;
  right: 0px;
  overflow-y: auto;
  box-shadow: rgba(14, 24, 80, 0.2) 16px 0px 52px;
  transform: translateX(100%);
  background: rgb(255, 255, 255);
  transition: all 0.3s ease 0s;

  &--active {
    transform: translateX(0%);
  }

  &__inner {
    padding: 30px;
  }
}

.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-top: 50px;

  &__input {
    padding: 10px;
    width: 280px;
    background: #ffffff;
    border: 1px solid #eaeaea;
    border-radius: 8px;

    &:active {
      border: 1px solid #8d8d8d;
    }
  }
}
