@import './utils/mixins';
@import './utils/vars';

.footer {
  &__inner {
    padding: 16px;
  }

  &__copy {
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: $copyColor;
  }
}

@media (min-width: 768px) {
  .footer {
    &__inner {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
    }

    &__copy {
      margin: 0;
    }
  }
}
