.order-button {
  border: none;
  border-radius: 20px;
  margin-top: 20px;
  background-color: #ff3e79;
  color: #ffffff;
  @include size(120px, 32px);

  &:hover {
    background-color: #ab2a51;
  }
}

@media (min-width: 768px) {
  .order-button {
    margin-top: 0px;
  }
}
