@import './components/import.scss';

@import './utils/mixins';
@import './utils/vars';
@import './utils/normalize';

@include font-face('TT Lakes Regular', '../fonts/TTLakes-Regular', normal, normal);
@include font-face('TT Lakes Medium', '../fonts/TTLakes-Medium', normal, normal);

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-family: 'TT Lakes Regular';
}

.wrapper {
  min-width: 320px;
  max-width: 1440px;
  margin: 0 auto;
  background-color: $wrapperMainColor;
}

@media (min-width: 1200px) {
  .wrapper {
    display: flex;
    flex-direction: row;
  }

  .sidebar {
    position: relative;
    width: 620px;
    height: auto;
    box-shadow: none;
    transform: translateX(0);
  }

  .sidebar__menu {
    margin-bottom: 100px;
  }
}

.close {
  background-image: url('../img/close.svg');
}

.search {
  background-image: url('../img/search.svg');
}

.burger {
  background-image: url('../img/burger.svg');
}

.chat {
  background-image: url('../img/chat.svg');
}

.profile {
  background-image: url('../img/profile.svg');
}

.repair {
  background-image: url('../img/repair.svg');
}

.checklist {
  background-image: url('../img/checklist.svg');
}

.call {
  background-image: url('../img/call.svg');
}

.logo {
  display: inline-block;
  @include size(98px, 52px);
  background-image: url('../img/group.svg');
}
