@import './components/import.scss';

@import './utils/mixins';
@import './utils/vars';
@import './utils/normalize';

@include font-face('TT Lakes Regular', '../fonts/TTLakes-Regular', normal, normal);
@include font-face('TT Lakes Medium', '../fonts/TTLakes-Medium', normal, normal);

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-family: 'TT Lakes Regular';
}

.wrapper {
  min-width: 320px;
  max-width: 1440px;
  margin: 0 auto;
  background-color: $wrapperMainColor;
}

// @media (max-width: 1440px) {
//   .wrapper {
//     max-width: 970px;
//   }
// }
// @media (max-width: 992px) {
//   .wrapper {
//     max-width: 750px;
//   }
// }
// @media (max-width: 767px) {
//   .wrapper {
//     max-width: none;
//   }
// }
